# dependencies
preecare-web/node_modules
preecare-web/.pnp
preecare-web/.pnp.*
preecare-web/.yarn/*

# testing
preecare-web/coverage

# next.js output and cache
preecare-web/.next/
preecare-web/out/
preecare-web/build/

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# environment variables
preecare-web/.env*

# vercel
preecare-web/.vercel

# typescript build cache
preecare-web/*.tsbuildinfo
preecare-web/next-env.d.ts

# prisma generated
preecare-web/src/generated/prisma
